.search__container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

@media screen and (max-width:768px) {
    .search__container {
        display: none;
    }

}


.search__input {
    width: 18rem;
    border: none;
    padding: 0.8rem;
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem;
    font-size: var(--font-size-small);
}

.search__span {
    width: 3rem;
    padding: 0.4rem;
    border-bottom-right-radius: 1rem;
    border-top-right-radius: 1rem;
    background-color: var(--color-bg-terthary);
    display: flex;
    justify-content: center;
    align-items: center;
}


.search__input,
.search__span {
    height: 3rem;
}

.search__icon {
    font-size: var(--font-size-large);
    cursor: pointer;
    transition: all ease-in-out .3s;
    color: var(--color-bg-primary);
}