.loader__container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 2rem;
    background-color: var(--color-bg-primary);
}

.loader__image {
    width: 8rem;
    height: 8rem;
    margin-top: 10rem;
}

.loader__circles {
    display: flex;
    gap: 1rem;
}

.loader__circle {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 100%;
}

.loader__message {
    font-weight: 500;
    font-size: var(--font-size-small);
}