.nav__container {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0.3rem;
    display: grid;
    grid-template-columns: 4fr 4fr 3fr 1fr;
    margin-bottom: 2rem;
    align-items: center;
    background-color: var(--color-bg-secondary);
    z-index: 999;

}

/*Determina la esturcutra del navbar en distintos dispositivos
 NOTA: El dispositivo notebooks en adelante es el que contiene .nav__container
*/
@media screen and (max-width:768px) {
    .nav__container {
        grid-template-columns: 4fr 4fr 4fr;
    }
}


@media screen and (min-width:769px) and (max-width:1023px) {
    .nav__container {
        grid-template-columns: 3fr 3fr 3fr 3fr;
    }
}
/*FIN NOTA*/


.nav__icon {
    font-size: var(--font-size-large);
    height: 3rem;
    cursor: pointer;
    transition: all ease-in-out .3s;
    margin-left: 2rem;
    user-select: none;
}

.nav__icon-active {
    transform: rotate(90deg);
    outline: navajowhite;
}


.nav__title {
    font-family: var(--font-family-title);
    font-size: var(--font-size-large);
    text-transform: uppercase;
    font-weight: 400;
    text-align: center;
    color: var(--color-text-secondary);
}

.nav__logo {
    display: flex;
    justify-content: center;
}

.nav__image {
    width: 4.4rem;
    height: 4.4rem;
    border-radius: 100%;
}